.basicCard{
    /* width: min(280px, 400px); */
    background-color: #d0f1fd;
}

.basicCardImg img{
    width: 100% !important;
}

.basicName{
    font-size: 22px;
    line-height: 24px;
    height: 25px;
}

.basicTab{
    font-size: 10px;
    text-transform: uppercase;
}

.listingCardPrice{
    line-height: 18px;
    margin-top: 20px;
}

.priceSpan{
    font-size: 14px;
}