.basicCard{
    width: min(280px, 400px);
    background-color: rgb(208 241 253);
}

.basicCardImg img{
    width: 100% !important;
}

.basicName{
    font-size: 18px;
    line-height: 19px;
    height: 40px;
}

.basicTab{
    font-size: 10px;
}