.main{
    background-color: rgb(122, 183, 210);
}

.headerTxt{
    color: rgb(210, 242, 255);
}

.mainTab{
    width: min(30%, 150px);
    height: 40px;
}

.activeMainTab{
    background-color: rgb(210, 242, 255) !important;
    color: rgb(77, 77, 77) !important;
    border: 2px solid white;
}

.activeMainTab::after{
    content: '';
    display: block;
    position: relative;
    top: 5px;
    left: 36%;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    z-index: 10;
}

.startDate, .endDate{
    width: 40%;
}

.startDateInpu, .endDateInpu{
    outline: none;
    box-shadow: none;
    width: 100%;
    border: 0px;
}

.mainBody{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(235, 249, 255);
    min-height: 50vh;
}

.featureWraper{
    width: 100%;
    overflow-x: auto;
}

.featureWraper::-webkit-scrollbar{
    display: none;
}

.featCardWrap{
    width: max-content;
}

.bannerWraper{
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.bannerWraper::-webkit-scrollbar{
    display: none;
}

.bannerWrap{
    display: flex;
    width: max-content;
}

.whyWraper{
    width: 100%;
    overflow-x: auto;
}

.whyWraper::-webkit-scrollbar{
    display: none;
}

.whyWrap{
    width: max-content;
}