/* .main{
    background-color: rgb(122, 183, 210);
} */

.whatIcon{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatIcon i{
    font-size: 50px !important;
}

.invertedImg{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.logoWrap{
    width: min(40%, 300px);
    margin: auto;
}

.headerTxt{
    color: rgb(210, 242, 255);
}

/* .heroMain{
    background-image: url('../../../public/images/hero\ section\ banner\ -\ 1.jpg');
    background-position: center;
    background-size: cover;
} */

.hero{
    background-image: url('../../../public/images/hero\ section\ banner\ -\ 1.jpg');
    background-position: center;
    background-size: cover;
    height: 226px !important;
}
.hero1{
    background-image: url('../../../public/images/hero\ section\ banner\ -\ 2.jpg');
    background-position: center;
    background-size: cover;
    height: 226px !important;
}

.exploreBtn{
    font-size: 11px !important;
    line-height: 12px;
}

.locaNselWrap{
    width: 85%;
}

.tabs{
    width: 48.5%;
    background-color: #53B7E3 !important;
    color: white !important;
}

.cateDrop{
    background-color: white !important;
}

.categoryDrop{
    background-color: #53B7E3 !important;
    color: white !important;
}

.categoriesDropCont{
    position: absolute;
    z-index: 15;
    overflow: hidden;
    transition: 0.3s;
}

.dropOp{
    cursor: pointer;
}

.dropOp:hover{
    background-color: rgb(187, 187, 187);
}

.aboutTxt{
    font-size: 16px;
    line-height: 18px ;
}

.mainTab{
    width: min(30%, 150px);
    height: 40px;
    border: 1px solid white;
    background-color: #53B7E3 !important;
    color: white !important;
    font-family: 'urbanist-semibold', sans-serif;
}

.activeMainTab{
    background-color: white !important;
    color: #0d6efd !important;
    border: 2px solid white;
}

/* .activeMainTab::after{
    content: '';
    display: block;
    position: relative;
    top: 5px;
    left: 36%;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    z-index: 10;
} */

.startDate, .endDate{
    width: 40%;
    overflow-x: hidden;
}

.dateInputs{
    border: 1px solid #cfcfcf;
}

.searchPara{
    color: #53B7E3 !important;
}

.startDateInpu, .endDateInpu{
    outline: none;
    box-shadow: none;
    width: 100%;
    border: 0px;
    color: black;
    font-size: 14px !important;
    border-radius: 10px !important;
    margin: 0px !important;
}

.pickUpDateBtn{
    font-size: 14px !important;
}

.mainBody{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(235, 249, 255);
    min-height: 50vh;
}

.featureWraper{
    width: 100%;
    overflow-x: auto;
}

.featureWraper::-webkit-scrollbar{
    display: none;
}

.featCardWrap{
    width: max-content;
}

.bannerWraper{
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.bannerWraper::-webkit-scrollbar{
    display: none;
}

.bannerWrap{
    display: flex;
    width: max-content;
}

.serviceImg{
    width: min(40%, 300px);
}

.serviceCardPara{
    font-size: 14px;
    line-height: 15px;
}

.whyWraper{
    width: 100%;
    overflow-x: auto;
}

.whyWraper::-webkit-scrollbar{
    display: none;
}

.whyWrap{
    width: max-content;
}

.whyLogo{
    width: 100px;
    position: relative;
    top: 6px;
}

.whyCardPara{
    font-size: 14px;
    line-height: 15px;
    color: #9f9f9f;
}

.blogTxt{
    font-size: 14px;
    line-height: 16px;
}

.blogCardTxtPara{
    font-size: 16px;
    line-height: 18px;
}

.contactTxt{
    font-size: 16px;
    line-height: 18px;
    color: gray;
}