*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'urbanist-regular';
}

.bg-brand{
  background-color: rgb(208 241 253) !important;
}
.bg-brand2{
  background-color: #53B7E3 !important;
}
.brand-color{
  color: #53B7E3 !important;
}

.br1{
  border-radius: 15px !important;
}

.br2{
  border-radius: 20px !important;
}
.br3{
  border-radius: 25px !important;
}

.wraper{
  width: 100% !important;
  overflow-x: auto;
}

.wraper::-webkit-scrollbar{
  display: none;
}

.wrap{
  width: max-content !important;
  display: flex;
}