*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'ebrima-regular';
}

.br1{
  border-radius: 15px !important;
}

.br2{
  border-radius: 20px !important;
}

.wraper{
  width: 100% !important;
  overflow-x: auto;
}

.wraper::-webkit-scrollbar{
  display: none;
}

.wrap{
  width: max-content !important;
  display: flex;
}